* {
  box-sizing: border-box;
}

body {
    margin: 30px auto;
    text-align: center;
    background-color: #161414;
    color: #999;
  }
  
  #board canvas {
    overflow: hidden;
    border-radius: 3px;
    background-color: #000;

  }
  